
body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td{
        margin: 0;
        padding: 0;
   }
    img{
        max-width: 100%;
        height: auto;
    }
ul, ol,nav,li{
	list-style-type: none;
}
a {
	text-decoration: none;
	color:#9e3869;
}
html,
body {
 min-height: 100%;
 font-family: "Vida31pro";
 font-size: 14px;
 box-sizing:border-box;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
 }

footer {
  flex: 0 0 auto;
  }
.container {
	max-width: 1280px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}

/*----------Стили шапки-----------*/
header {
	flex: 1 0 auto;
	display: flex;
	justify-content: space-between;
	margin-top:10px;
	margin-left:10px;
	margin-right: 10px; 
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}
.left-menu, .right-menu {
	display: flex;
	align-items:center;
}
.left-menu nav {
	display: flex;
}
.logo, .left-menu nav, .person, .phone-bumber, .phone-img{
	padding: 0 10px;
}
.logo{
	width: 146px;
	height: 41px;
}
header nav li a {
	padding: 0 10px;
}
.top-counter {
	cursor: pointer;
	span {
	padding:0 5px;
	font-family: "Vida 31 Pro";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #893b67;
}
}
.top-counter:after {
	content: attr(data-topcount);
	display: inline-block;
	width: 17px;
	height: 17px;
	text-align:center;
	border-radius: 10px;
	background-color: #893b67;
	color:#fff;
	font-size: 15px;
	position: relative;
	left:-92px;
	top:-10px;
}
.person{
	position: relative;
	cursor: pointer;
	width: 149px;
	height: 27px;
	border: 1px solid rgba(83, 86, 90, .2);
	border-radius: 14px;
	padding-left: 10px;
	display: flex;
	align-items:center;
	margin: 0 10px;
	img {
		position: absolute;
		top:11px;
		right: 22px;
	}
} 
.phone-number{
	font-family: "Times New Roman PSMT";
	font-size: 1.2857rem;
	font-weight: 400;
	line-height: 20px;
	margin: 0 10px;
}
.phone-img {
	cursor: pointer;
}

/*------------------ Полоса -------------*/

.slide {
	flex: 1 0 auto;
	position: relative;
	height: 232px;
	background: url(../img/bg.jpg) center top/cover no-repeat;
}
.text {
	position: absolute;
	bottom:0;
}
.adress{
	width: 132px;
	background-color: #fff;
	span {
		display: block;
		padding-top: 16px;
		font-weight: 400;
		margin-left: 19px;
		color:#767c81;
		font-family: "Vida33pro";
		font-size: 1.2857rem;

	}
}
.object {
	width: 344px;
	background-color: #fff;
	span {
	display: block;
	padding-top: 20px;
	font-weight: 400;
	margin-left: 19px;
	font-family: "Vida33pro";
	font-size: 2.6666rem;
	}
}
.main-content{
	flex:1 0 auto;
	margin-bottom: 86px;
}
.main {
	margin-top: 62px;
	display: flex;
}
/* ------------ aside------------*/
aside{
	width: 27.34%; 
	border-right: 1px solid #f4f4f4;
	ul li {
	padding:23px 0;
	padding-left: 22px;
	}
}

	.notice{
	display: flex;
	align-items:center;
	justify-content:space-between;
	width: 80%;
	height: 41px;
	border-radius: 20px;
	border: 1px solid rgba(83, 86, 90, .2);
	text-color: #000;
	font-family: "Vida 31 Pro";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	position: relative;
	span {
		margin-left: 20px;
	}
	img {
		margin-right: 20px;
		display: none;
	}
	}
.input-count {
	position: relative;
	cursor: pointer;
}	
.count {
	display: inline-block;
	position: absolute;	
	top:-4px;
	left: 75%;	
}
.count:after {
		content: attr(data-count);
		display: inline-block;
		text-align: center;
		font-size: 1.2rem;
		width: 20px;
		height: 20px;
		border-radius: 10px;
		background-color: #893b67;
		color: #fff;
			
			}
.adress-widget {
	width: 86.3636%;
	margin-top: 28px;
	margin-left: 22px;
	padding: 38px 0;
	color: #893b67;
	border-top: 1px solid #f1f1f1;
	h3{
		font-family: "Vida 33 Pro";
		font-size: 1.7142rem;
		font-weight: 400;
		color: #893b67;
		margin-bottom: 23px;
	}
	span {
		font-family: "Vida 31 Pro";
		font-size: 1.142rem;
		font-weight: 400;
		line-height: 24px;
		color:#000000;
	}
	.adress-text{
		display: flex;
		justify-content:space-between;
		align-items:center;
		a {
			display: flex;
			align-items:center;
			span {
				font-family: "Vida 33 Pro";
				font-size: 1rem;
				font-weight: 400;
				line-height: 24px;
				color: #893b67;
			}
			img {
				margin-left: 12px;
			}
		}
	}
}

.content {
	width: calc(72.66% - 1px);
	margin-left: 41px;
	h2 {
		color: #414141;
		font-family: "Vida 33 Pro";
		font-size: 36px;
		font-weight: 400;
		margin-bottom: 40px;
	}

}

article {
	border: 1px solid #f1f1f1;
	border-radius: 5px;
	margin-bottom: 25px;
	cursor: pointer;
	.news-text {
		padding: 0 25px;
		padding-bottom: 20px;
		color: #5a5a58;
		font-family: "Vida 31 Pro";
		font-size: 16px;
		font-weight: 400;
		line-height: 24px;
		height: 0;
		display: none;
	}
	.show-text {
		display: block;
		height: auto;
	}
	
	.close{
		display: none;
	}	
	.date{
		width: 77px;
		color: #000000;
		font-family: "Vida 31 Pro";
		font-size: 1.428rem;
		font-weight: 400;
		line-height: 20px;
		padding: 2px;
		border-radius: 3px;
		background-color: #edeeee;
		margin: 23px;
	}
	.news {
			display: flex;
			justify-content:space-between;
			margin-left: 23px;
			margin-bottom: 28px;
			h3{
	
		color: #000000;
		font-family: "Vida 33 Pro";
		font-size: 1.2857rem;
		font-weight: 400;
		line-height: 26px;
				}
			img {
				margin-right: 32px;
				align-self: flex-start;
				cursor: pointer;
			}
		}
	}

	/*------------Подвал--------------*/
.first-footer {
	background-color: #eeeeee;
}
.news-feed {
	display: flex;
	padding: 0 7px;
	
	}
.preview {
	width: 25%;
	padding: 31px 30px 48px;
		a {
			color: #000;
			span{
	display: block;
	font-size: 1rem;
	font-weight: 400;
	line-height: 20px;
	margin-bottom: 12px;
		}
		p{

			font-size: 1rem;
			font-weight: 400;
			line-height: 18px;
		}
	}
}
.preview:hover {
	background-color: #8c8c8c;
} 
.stock:after {
	content: url(../img/stock.png);
	padding-left: 8px;
	position: relative;
	top:3px;
}
.one-news:after {
	content: url(../img/news.png);
	padding-left: 8px;
	position: relative;
	top:3px;
}
.stocks:after {
	content: url(../img/stocks.png);
	padding-left: 8px;
	position: relative;
	top:3px;
}
.events:after {
	content: url(../img/events.png);
	padding-left: 8px;
	position: relative;
	top:3px;
}
.second-footer{
	margin-top: 35px;
}
.two-blocks {
	display: flex;
}
.info-company {
	width: 27.34%;
}
.number {
	display: block;
	color: #424242;
	font-family: "Vida 33 Pro";
	font-size: 1.714rem;
	font-weight: 400;
	line-height: 18px;
	margin-bottom: 18px;
	min-width: 186px;
}
.navigation {
	display: flex;
	width: 100%;
	margin-left: 77px;
	//flex-wrap:wrap;

	.category{
		width:calc(25% - 10px);
		padding: 10px 10px;
		p{
			padding-bottom: 15px;
		}
		ul li {
			padding: 6px 0;
		}
	}
	 div img{
		display: none;
	 }
}
.social{
	margin-bottom: 42px;
	display: flex;
	a {display: block;
		i {

	color: #893b67;
	font-size: 1.2857rem;
	font-weight: 400;
	line-height: 31.6px;
	padding: 0 8px;

			}
	}
} 
.contacts{
	.number{
	margin-bottom:25px;
	}
	span {
	display: block;
	margin:10px 0;
}
} 

/*----------------------------Responsive--------------------*/
.burger-open,.burger-close {
	font-size: 2rem;
	font-weight: 800;
	margin: 0 15px;
	color:#893b67;
	cursor: pointer;
	
}
.burger-click {
	display:none;
}

.burger-phone {
	display: flex;
	div {
		font-size: 1.4rem;
		margin-right: 20px;
	}
}
.menu-burger {

		nav li a {
			display: block;
			margin: 10px 20px;

		}
		nav{
			li {
				padding: 10px;
				color: #893b67;
				font-family: "Vida 31 Pro";
				font-size: 24px;
				font-weight: 400;
				line-height: 20px;
			}
		}
		.burger-phone {
			display: flex;
			align-items:center;
		}
		.burger-counter{
			margin: 40px 30px;
			a{
				color: #9e3869;
				margin-left: 10px;
				font-size: 18px;
			}

		} 
		.burger-phone {
		margin: 20px;
		}
		.burger-person {
			margin: 20px;
			font-size: 20px;
		}
}

.menu-burger {
	display: none;
}
.show-burger {
	display: block;
}
.mobile-screen {
	display: none;
}
.slick {
	display: none;
	.preview p {
		color: #000000;
		font-family: "Vida 31 Pro";
		font-size: 22px;
		font-weight: 400;
		line-height: 28.08px;
	}

}
.burger-counter:after{
	content: attr(data-topcount);
	display: inline-block;
	width: 17px;
	height: 17px;
	text-align:center;
	border-radius: 10px;
	background-color: #893b67;
	color:#fff;
	font-size: 15px;
	position: relative;
	left:-110px;
	top:-10px;
	}
	.off{
		display: none;
	}

 @media screen and (max-width: 1160px) {
	.navigation{
		margin-left: 20px;
	}
  .left-menu .topNav, .right-menu .top-counter, .right-menu .person{
    display:none;
	}
	.burger-open {
		display: block;
	}
}

@media screen and (max-width: 900px) {
	.navigation{
		flex-wrap:wrap;

		 .category {
		width:calc(50% - 30px);
		text-align: center;
			}
		}
}
@media screen and (max-width: 768px) {
		
		.preview{
			width: 30%;
			padding-left: 10px;
			padding-right: 10px;
			&:nth-child(4) {
			display:none;
				}
		}
		aside{
			width: 100%;
			border:none;
			.widgets {
				display: flex;

			}
			.adress-widget {
			border:none;
			padding-right: 20px;
			margin-left: 0;
		}
			ul {
			display: none;
				}
			.notice {
				width: 100%;
				img {
					display: inline-block;
				}
			}
		} 
		.main {
			flex-direction: column;
		}
		.content {
			width: 100%;
			margin-left: 0;
		}
		.count{
			top:-5px;
			left:115px;
		}
		.news-feed {
			justify-content:center;
		}
		
}
@media screen and (max-width: 640px){
	.two-blocks{
		display: block;
	}
	.info-company {
		width: 100%;
	}
	.navigation {
		display: none;
		
	}
	.mobile-screen {
		display: block;
		ul li{
			padding: 15px;
			padding-left: 0;
		}
	}
	.mobile-screen .js-category {
		width: 90%;
		margin:20px 20px; 
		text-align: start;
		border-bottom: 1px solid #f4f4f4;
		cursor: pointer;
		padding-bottom: 10px;
	}
	.mobile-screen .js-category .open-category {

		display:none;
	}
	.mobile-screen .js-category div {
		display: flex;
		justify-content:space-between;
		align-items: center;
		img{
			display: block;
		}
	}

	.mobile-screen .js-category p{
		padding: 0;
		display: inline-block;

	}
	.mobile-screen .js-category .show-category {
	display: block;
}
.news-feed {
	display: none;
}
.slick {
		display: block;
	}
	.slick-dots {
		bottom: 5px;
	}
	
	.radius {
		width: 10px;
		height: 10px;
		border-radius: 10px;
		background-color: #000;
	}
	.slick-active .radius {
		background-color: #bebebe;
	}
	
}
@media screen and (max-width: 460px){
	html {
		font-size: 12px;
	}
	.phone-number, .phone-img{
		display: none !important;
	}
	.logo {
		margin:10px;
	}
}
@font-face {
src: url("../fonts/vida31pro.otf") format("OpenType OTF"); 
} 

@font-face {
src: url("../fonts/vida33pro.otf") format("OpenType OTF"); 
} 